@{
    ViewBag.Title = "Dairy Adjustment";
}
@using AccountEx.BussinessLogic;
@using AccountEx.Common;
@using AccountEx.CodeFirst.Models;
@{
    var error = "";
    if (SettingManager.AdjustmentHeadId == 0)
    {
        error += "<li>Adjustment account is missing.</li>";

    }
    if (SettingManager.SaleAccountHeadId == 0)
    {
        error += "<li>Sale account is missing.</li>";

    }
    if (SiteContext.Current.Fiscal == null)
    {
        error += "<li>No fiscal year found.</li>";

    }
    var showDiscount = "hide";
    var colspan = !string.IsNullOrWhiteSpace(showDiscount) ? "6" : "10";
}
<style>
    .nowrap {
        white-space: nowrap;
    }
</style>
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="note note-danger note-bordered">
        <h4 class="block">Head Account Missing</h4>
        <div>
            <i class="fa-lg fa fa-warning"></i>Head Account is missing in the application settings.In order to complete current transaction head accounts must be added in settings.<br />


            <ul>
                @Html.Raw(error)
            </ul>


            Add missing head accounts in settings and then try again by <a href="@Request.Url"><i class="fa fa-refresh"></i>&nbsp;Relaoding</a>&nbsp;the current page.
        </div>
    </div>
}
else
{
    @section PageTitle
{
        <h1 class="font-green-sharp bold">Daily Activity</h1>
    }
    <div id="form-info">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Manage Daily Activity <span class="isNew badge badge-primary">New</span><span class="isUpdate badge badge-warning">Update</span>
                    </div>
                    <div class="actions hide">
                        <a href="javascript:;" onclick="Adjustment.LoadVoucher('previous')" class="btn blue">
                            <i class="fa fa-angle-left"></i>&nbsp;Back
                        </a>
                        <a href="javascript:;" onclick="Adjustment.LoadVoucher('next')" class="btn blue">
                            <i class="fa fa-angle-left"></i>&nbsp;Next
                        </a>

                    </div>
                </div>
                <div class="portlet-body form">

                    <div id="mainform" class="form-horizontal" data-save="save">
                        <input type="text" id="Id" class="hide" data-include-in-item="true" data-item-id="SaleId" />
                        <input type="text" id="CreatedDate" class="hide ac-date" data-clear-type="date" />
                        <input type="text" id="IsDeleted" class="hide" />
                        <input type="text" id="PreVoucherNumber" class="hide" />
                        <input type="text" id="Status" class="hide" />
                        <div class="form-body">
                            <div class="hide alert alert-danger container-message">
                                <i class="close" onclick="$(this).parent().hide();"></i>
                                <strong></strong>
                                <div class="form-body message-content"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prefix">Voucher No.</label>
                                <div class="col-md-1 container-voucher">
                                    <label id="lblVoucherNumber" class="label label-info label-voucher hide"></label>
                                    <input type="text" class="form-control number input-small" id="VoucherNumber" data-required="required" data-plus-as-tab="false" data-validate="true" data-message="Adjustment Number is required">
                                </div>
                                <label class="col-md-1 control-label" for="prefix">Date</label>
                                <div class="col-md-1">
                                    <input id="Date" type="text" class="form-control date-picker" data-clear-type='date' data-required="required" data-message="Date is required" data-hide-dropdown="true" data-fiscal-date="true">
                                </div>
                                <label class="col-md-1 control-label" for="prefix">Status</label>
                                <div class="col-md-2">
                                    <select id="ItemStatus" class="form-control select2" placeholder="Select Status">
                                        <option value="Milker" selected>Milker</option>
                                        <option value="Non-Milker">Non-Milker</option>
                                        <option value="Pregnant">Pregnant</option>
                                        <option value="Meat">Meat</option>
                                        <option value="Kid">Kid</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prefix">Group</label>
                                <div class="col-md-3">
                                    <select id="GroupId" class="form-control select2" placeholder="Select group">
                                        <option></option>
                                        @foreach (var p in (List<IdName>)ViewBag.ProductGroups)
                                        {
                                            <option data-custom="@p.Name" value="@p.Id">@p.Name</option>
                                        }
                                    </select>
                                    <input type="hidden" value="GroupId" />
                                    <input id="GroupName" type="hidden" value="GroupName" />
                                </div>
                                <label class="col-md-1 control-label" for="prefix">Shift</label>
                                <div class="col-md-2">
                                    <select id="Shift" class="form-control select2" placeholder="Select Status">
                                        <option value="Morning">Morning</option>
                                        <option value="Noon">Noon</option>
                                        <option value="Evening">Evening</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" data-save="false">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 saleitem-container scroller12" data-always-visible="1" data-rail-visible1="1">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-list"></i>Item List
                                            </div>
                                        </div>
                                    </div>
                                    <table id="item-container" class="table table-bordered griditem">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 80px">Code</th>
                                                <th style="width: 30%;">Name</th>
                                                <th style="width: 30%;">Comments</th>
                                                <th id="Item-@(SettingManager.VDailyActivityDebitItem1Id)" 
                                                    class="DebitItemCol nowrap align-center @(SettingManager.VDailyActivityDebitItem1Id == 0 ? "hide" : "")">
                                                    DItem 1
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityDebitItem2Id)" 
                                                    class="DebitItemCol nowrap align-center @(SettingManager.VDailyActivityDebitItem2Id == 0 ? "hide" : "")">
                                                    DItem 2
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityDebitItem3Id)" 
                                                    class="DebitItemCol nowrap align-center @(SettingManager.VDailyActivityDebitItem3Id == 0 ? "hide" : "")">
                                                    DItem 3
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityDebitItem4Id)" 
                                                    class="DebitItemCol nowrap align-center @(SettingManager.VDailyActivityDebitItem4Id == 0 ? "hide" : "")">
                                                    DItem 4
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityDebitItem5Id)" 
                                                    class="DebitItemCol nowrap align-center @(SettingManager.VDailyActivityDebitItem5Id == 0 ? "hide" : "")">
                                                    DItem 5
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem1Id)"
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem1Id == 0 ? "hide" : "")">
                                                    CItem 1
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem2Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem2Id == 0 ? "hide" : "")">
                                                    CItem 2
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem3Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem3Id == 0 ? "hide" : "")">
                                                    CItem 3
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem4Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem4Id == 0 ? "hide" : "")">
                                                    CItem 4
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem5Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem5Id == 0 ? "hide" : "")">
                                                    CItem 5
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem6Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem6Id == 0 ? "hide" : "")">
                                                    CItem 6
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem7Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem7Id == 0 ? "hide" : "")">
                                                    CItem 7
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem8Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem8Id == 0 ? "hide" : "")">
                                                    CItem 8
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem9Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem9Id == 0 ? "hide" : "")">
                                                    CItem 9
                                                    </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem10Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem10Id == 0 ? "hide" : "")">
                                                    CItem 10
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem11Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem11Id == 0 ? "hide" : "")">
                                                    CItem 11
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem12Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem12Id == 0 ? "hide" : "")">
                                                    CItem 12
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem13Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem13Id == 0 ? "hide" : "")">
                                                    CItem 13
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem14Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem14Id == 0 ? "hide" : "")">
                                                    CItem 14
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem15Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem15Id == 0 ? "hide" : "")">
                                                    CItem 15
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem16Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem16Id == 0 ? "hide" : "")">
                                                    CItem 16
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem17Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem17Id == 0 ? "hide" : "")">
                                                    CItem 17
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem18Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem18Id == 0 ? "hide" : "")">
                                                    CItem 18
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem19Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem19Id == 0 ? "hide" : "")">
                                                    CItem 19
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem20Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem20Id == 0 ? "hide" : "")">
                                                    CItem 20
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem21Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem21Id == 0 ? "hide" : "")">
                                                    CItem 21
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem22Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem22Id == 0 ? "hide" : "")">
                                                    CItem 22
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem23Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem23Id == 0 ? "hide" : "")">
                                                    CItem 23
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem24Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem24Id == 0 ? "hide" : "")">
                                                    CItem 24
                                                </th>
                                                <th id="Item-@(SettingManager.VDailyActivityCreditItem25Id)" 
                                                    class="align-center nowrap @(SettingManager.VDailyActivityCreditItem25Id == 0 ? "hide" : "")">
                                                    CItem 25
                                                </th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td class="align-right" colspan="3"></td>
                                                <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem1Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalDebitItem1" class="form-control align-center">
                                                </td>
                                                <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem2Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalDebitItem2" class="form-control align-center">
                                                </td>
                                                <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem3Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalDebitItem3" class="form-control align-center">
                                                </td>
                                                <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem4Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalDebitItem4" class="form-control align-center">
                                                </td>
                                                <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem5Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalDebitItem5" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem1Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem1" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem2Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem2" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem3Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem3" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem4Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem4" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem5Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem5" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem6Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem6" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem7Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem7" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem8Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem8" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem9Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem9" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem10Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem10" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem11Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem11" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem12Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem12" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem13Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem13" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem14Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem14" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem15Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem15" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem16Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem16" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem17Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem17" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem18Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem18" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem19Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem19" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem20Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem20" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem21Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem21" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem22Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem22" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem23Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem23" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem24Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem24" class="form-control align-center">
                                                </td>
                                                <td class="align-center @(SettingManager.VDailyActivityCreditItem25Id == 0 ? "hide" : "")">
                                                    <input type="text" id="TotalCreditItem25" class="form-control align-center">
                                                </td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody data-plus-as-tab="false">
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="btn-set pull-left">

                                @*<button class="btn tooltips" data-container="body" data-placement="top" data-original-title="Tooltip in top">Top</button>*@
                                <a href="javascript:;" onclick="Adjustment.LoadVoucher('first')" class="btn blue tooltips disabled first" data-original-title="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                                <a href="javascript:;" onclick="Adjustment.LoadVoucher('previous')" class="btn blue tooltips disabled previous" data-original-title="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="javascript:;" onclick="Adjustment.LoadVoucher('next')" class="btn blue tooltips disabled next" data-original-title="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="javascript:;" onclick="Adjustment.LoadVoucher('last')" class="btn blue tooltips disabled last" data-original-title="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                            <div class="btn-set pull-right">
                                @if (!SiteContext.Current.Fiscal.IsClosed)
                                {
                                    <button type="button" class="btn purple-plum" onclick="Adjustment.New()">
                                        <i class="fa  fa-plus-circle"></i>
                                        New
                                    </button>
                                    <button type="button" class="btn btn-primary green" onclick="Adjustment.Save()">
                                        <i class="fa fa-check"></i>
                                        Save
                                    </button>
                                    <button type="button" class="btn red" onclick="Adjustment.Delete()">
                                        <i class="fa fa-trash-o"></i>
                                        Delete
                                    </button>
                                }
                                <button type="button" class="btn yellow" onclick="Adjustment.Print()">
                                    <i class="fa fa-print"></i>

                                    Print
                                </button>
                                <button type="button" class="btn blue" onclick="window.location='@(Url.Content(SettingManager.DashBoardUrl))'">
                                    <i class="fa  fa-times-circle"></i>

                                    Close
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
    <div class="hide" id="div-table">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Record Listing
                    </div>
                    <div class="actions">
                        <a href="javascript:;" onclick="Adjustment.Add()" class="btn blue">
                            <i class="fa fa-plus"></i>&nbsp;New
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="hide alert alert-danger container-message">
                        <i class="close" onclick="$(this).parent().hide();"></i>
                        <strong></strong>
                        <div class="form-body message-content"></div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="mainTable">
                        <thead>
                            <tr>
                                <th style="width: 8px;" class="no-sort">
                                    <input type="checkbox" class="group-checkable" data-set="#mainTable .checkboxes" />
                                </th>
                                <th>
                                    Vou #
                                </th>
                                <th>Book #</th>
                                <th>Party</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Remarks</th>
                                <th style="width: 75px;" class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
    <div id="jsondata" class="hide">
        <p id="data">@ViewBag.FormSetting</p>
    </div>
}
<script type="text/html" id="template-item">
    <tr>

        <td>
            <input type="hidden" class="Id" data-db-column="Id">
            <input type="hidden" class="ItemId" id="ItemId" data-db-column="ItemId">
            <input type="hidden" class="EntryType" id="EntryType" data-db-column="EntryType" value="@((int)EntryType.Item)"><input type="hidden">
            <input type="text" class="Code form-control typeahead input-small ui-autocomplete-input" data-db-column="ItemCode" autocomplete="off">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Name form-control input-medium" data-db-column="ItemName">
        </td>
        <td>
            <input type="text" class="Comment form-control input-medium" data-db-column="Comment">
        </td>
        <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem1Id == 0 ? "hide" : "")">
            <input type="hidden" class="DebitItem1Code" value="@SettingManager.VDailyActivityDebitItem1Id" data-db-column="DebitItem1Code" data-db-type="float">
            <input type="text" class="DebitItem1 form-control input-small num align-center" data-db-column="DebitItem1" data-db-type="float">
        </td>
        <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem2Id == 0 ? "hide" : "")">
            <input type="hidden" class="DebitItem2Code" value="@SettingManager.VDailyActivityDebitItem2Id" data-db-column="DebitItem2Code" data-db-type="float">
            <input type="text" class="DebitItem2 form-control input-small num align-center" data-db-column="DebitItem2" data-db-type="float">
        </td>
        <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem3Id == 0 ? "hide" : "")">
            <input type="hidden" class="DebitItem3Code" value="@SettingManager.VDailyActivityDebitItem3Id" data-db-column="DebitItem3Code" data-db-type="float">
            <input type="text" class="DebitItem3 form-control input-small num align-center" data-db-column="DebitItem3" data-db-type="float">
        </td>
        <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem4Id == 0 ? "hide" : "")">
            <input type="hidden" class="DebitItem4Code" value="@SettingManager.VDailyActivityDebitItem4Id" data-db-column="DebitItem4Code" data-db-type="float">
            <input type="text" class="DebitItem4 form-control input-small num align-center" data-db-column="DebitItem4" data-db-type="float">
        </td>
        <td class="DebitItemCol align-center @(SettingManager.VDailyActivityDebitItem5Id == 0 ? "hide" : "")">
            <input type="hidden" class="DebitItem5Code" value="@SettingManager.VDailyActivityDebitItem5Id" data-db-column="DebitItem5Code" data-db-type="float">
            <input type="text" class="DebitItem5 form-control input-small num align-center" data-db-column="DebitItem5" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem1Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem1Code" value="@SettingManager.VDailyActivityCreditItem1Id" data-db-column="CreditItem1Code" data-db-type="float">
            <input type="text" class="CreditItem1 form-control input-small num align-center" data-db-column="CreditItem1" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem2Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem2Code" value="@SettingManager.VDailyActivityCreditItem2Id" data-db-column="CreditItem2Code" data-db-type="float">
            <input type="text" class="CreditItem2 form-control input-small num align-center" data-db-column="CreditItem2" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem3Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem3Code" value="@SettingManager.VDailyActivityCreditItem3Id" data-db-column="CreditItem3Code" data-db-type="float">
            <input type="text" class="CreditItem3 form-control input-small num align-center" data-db-column="CreditItem3" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem4Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem4Code" value="@SettingManager.VDailyActivityCreditItem4Id" data-db-column="CreditItem4Code" data-db-type="float">
            <input type="text" class="CreditItem4 form-control input-small num align-center" data-db-column="CreditItem4" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem5Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem5Code" value="@SettingManager.VDailyActivityCreditItem5Id" data-db-column="CreditItem5Code" data-db-type="float">
            <input type="text" class="CreditItem5 form-control input-small num align-center" data-db-column="CreditItem5" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem6Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem6Code" value="@SettingManager.VDailyActivityCreditItem6Id" data-db-column="CreditItem6Code" data-db-type="float">
            <input type="text" class="CreditItem6 form-control input-small num align-center" data-db-column="CreditItem6" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem7Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem7Code" value="@SettingManager.VDailyActivityCreditItem7Id" data-db-column="CreditItem7Code" data-db-type="float">
            <input type="text" class="CreditItem7 form-control input-small num align-center" data-db-column="CreditItem7" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem8Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem8Code" value="@SettingManager.VDailyActivityCreditItem8Id" data-db-column="CreditItem8Code" data-db-type="float">
            <input type="text" class="CreditItem8 form-control input-small num align-center" data-db-column="CreditItem8" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem9Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem9Code" value="@SettingManager.VDailyActivityCreditItem9Id" data-db-column="CreditItem9Code" data-db-type="float">
            <input type="text" class="CreditItem9 form-control input-small num align-center" data-db-column="CreditItem9" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem10Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem10Code" value="@SettingManager.VDailyActivityCreditItem10Id" data-db-column="CreditItem10Code" data-db-type="float">
            <input type="text" class="CreditItem10 form-control input-small num align-center" data-db-column="CreditItem10" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem11Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem11Code" value="@SettingManager.VDailyActivityCreditItem11Id" data-db-column="CreditItem11Code" data-db-type="float">
            <input type="text" class="CreditItem11 form-control input-small num align-center" data-db-column="CreditItem11" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem12Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem12Code" value="@SettingManager.VDailyActivityCreditItem12Id" data-db-column="CreditItem12Code" data-db-type="float">
            <input type="text" class="CreditItem12 form-control input-small num align-center" data-db-column="CreditItem12" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem13Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem13Code" value="@SettingManager.VDailyActivityCreditItem13Id" data-db-column="CreditItem13Code" data-db-type="float">
            <input type="text" class="CreditItem13 form-control input-small num align-center" data-db-column="CreditItem13" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem14Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem14Code" value="@SettingManager.VDailyActivityCreditItem14Id" data-db-column="CreditItem14Code" data-db-type="float">
            <input type="text" class="CreditItem14 form-control input-small num align-center" data-db-column="CreditItem14" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem15Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem15Code" value="@SettingManager.VDailyActivityCreditItem15Id" data-db-column="CreditItem15Code" data-db-type="float">
            <input type="text" class="CreditItem15 form-control input-small num align-center" data-db-column="CreditItem15" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem16Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem16Code" value="@SettingManager.VDailyActivityCreditItem16Id" data-db-column="CreditItem16Code" data-db-type="float">
            <input type="text" class="CreditItem16 form-control input-small num align-center" data-db-column="CreditItem16" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem17Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem17Code" value="@SettingManager.VDailyActivityCreditItem17Id" data-db-column="CreditItem17Code" data-db-type="float">
            <input type="text" class="CreditItem17 form-control input-small num align-center" data-db-column="CreditItem17" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem18Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem18Code" value="@SettingManager.VDailyActivityCreditItem18Id" data-db-column="CreditItem18Code" data-db-type="float">
            <input type="text" class="CreditItem18 form-control input-small num align-center" data-db-column="CreditItem18" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem19Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem19Code" value="@SettingManager.VDailyActivityCreditItem19Id" data-db-column="CreditItem19Code" data-db-type="float">
            <input type="text" class="CreditItem19 form-control input-small num align-center" data-db-column="CreditItem19" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem20Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem20Code" value="@SettingManager.VDailyActivityCreditItem20Id" data-db-column="CreditItem20Code" data-db-type="float">
            <input type="text" class="CreditItem20 form-control input-small num align-center" data-db-column="CreditItem20" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem21Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem21Code" value="@SettingManager.VDailyActivityCreditItem21Id" data-db-column="CreditItem21Code" data-db-type="float">
            <input type="text" class="CreditItem21 form-control input-small num align-center" data-db-column="CreditItem21" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem22Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem22Code" value="@SettingManager.VDailyActivityCreditItem22Id" data-db-column="CreditItem22Code" data-db-type="float">
            <input type="text" class="CreditItem22 form-control input-small num align-center" data-db-column="CreditItem22" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem23Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem23Code" value="@SettingManager.VDailyActivityCreditItem23Id" data-db-column="CreditItem23Code" data-db-type="float">
            <input type="text" class="CreditItem23 form-control input-small num align-center" data-db-column="CreditItem23" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem24Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem24Code" value="@SettingManager.VDailyActivityCreditItem24Id" data-db-column="CreditItem24Code" data-db-type="float">
            <input type="text" class="CreditItem24 form-control input-small num align-center" data-db-column="CreditItem24" data-db-type="float">
        </td>
        <td class="CreditItemCol align-center @(SettingManager.VDailyActivityCreditItem25Id == 0 ? "hide" : "")">
            <input type="hidden" class="CreditItem25Code" value="@SettingManager.VDailyActivityCreditItem25Id" data-db-column="CreditItem25Code" data-db-type="float">
            <input type="text" class="CreditItem25 form-control input-small num align-center" data-db-column="CreditItem25" data-db-type="float">
        </td>

        <td style="width: 8px;">
            <span class="action"><i class="fa fa-trash-o" onclick="Adjustment.DeleteRow(this)" data-original-title="Delete Item"></i></span>
        </td>
    </tr>
</script>
<style>
    .twitter-typeahead {
        /*width: 500%;*/
    }
</style>
@section FooterScript
{
    <script src="~/Content/AutoComplete/jquery-ui.js"></script>
    <link href="~/Content/AutoComplete/jquery-ui.css" rel="stylesheet" />
    @* <script src="../../Content/HotKey/jquery.hotkeys.js"></script>*@
    <script src="~/Content/AppJS/Transaction/DairyAdjustment.js"></script>
    <script>
        jQuery(document).ready(function () {
            Adjustment.init("DairyAdjustment");
        });
    </script>
}

