@using AccountEx.Common;

@{
    ViewBag.Title = "NT Production";
}
@section PageTitle
{

    <h1 class="font-green-sharp bold hidden-print">Manage Production</h1>
}
@using AccountEx.BussinessLogic;
@{
    var error = "";

    if (SettingManager.ProductHeadId == 0)
    {
        error += "<li>Product Account is Missing.</li>";

    }
    if (SiteContext.Current.Fiscal == null)
    {
        error += "<li>No fiscal year found.</li>";

    }

}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="note note-danger note-bordered">
        <h4 class="block">Head Account Missing</h4>
        <div>
            <i class="fa-lg fa fa-warning"></i>Head Account is missing in the application settings.In order to complete current transaction head accounts must be added in settings.<br />


            <ul>
                @Html.Raw(error)
            </ul>


            Add missing head accounts in settings and then try again by <a href="@Request.Url"><i class="fa fa-refresh"></i>&nbsp;Relaoding</a>&nbsp;the current page.
        </div>
    </div>
}
else
{


    <div class="row hidden-print" id="form-info">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Add/Edit Production
                    </div>
                    <div class="actions hide">
                        <a href="javascript:;" onclick="NTProduction.LoadVoucher('previous')" class="btn blue">
                            <i class="fa fa-angle-left"></i>&nbsp;Back
                        </a>
                        <a href="javascript:;" onclick="NTProduction.LoadVoucher('next')" class="btn blue">
                            <i class="fa fa-angle-left"></i>&nbsp;Next 
                        </a>

                    </div>
                </div>
                <div class="portlet-body form">

                    <div id="mainform" class="form-horizontal" data-save="save">
                        <input type="text" id="Id" class="hide" data-include-in-item="true" data-item-id="WorkInProgressId" />
                        <input type="text" id="CreatedDate" class="hide ac-date" data-clear-type="date" />
                        <input type="text" id="IsDeleted" class="hide" />
                        <div class="form-body">
                            <div class="hide alert alert-danger container-message">
                                <i class="close" onclick="$(this).parent().hide();"></i>
                                <strong></strong>
                                <div class="form-body message-content"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prefix">Vou #</label>
                                <div class="col-md-1 container-voucher">
                                    <label id="lblVoucherNumber" class="label label-info label-voucher hide"></label>
                                    <input type="text" class="form-control number input-xsmall" id="VoucherNumber" data-plus-as-tab="false" data-required="required" data-message="Voucher Number is required" data-include-in-item="true">
                                </div>
                                <label class="col-md-1 control-label" for="prefix">Book #</label>
                                <div class="col-md-1">
                                    <input type="text" id="InvoiceNumber" data-validate="true" data-required="required" data-message="Book Number is required"  class="number form-control input-xsmall" data-plus-as-tab="false" data-include-in-item="true">
                                </div>
                                <label class="col-md-1 control-label" for="prefix">Date</label>
                                <div class="col-md-2">

                                    <input id="Date" type="text" class="form-control date-picker" data-clear-type='date' data-validate="true" data-required="required" data-message="Date is required" data-plus-as-tab="false" data-hide-dropdown="true" data-fiscal-date="true">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4" id="rawitem-container" data-save="save">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                Items Issued
                                            </div>

                                        </div>

                                        <div class="form-group" data-save="false">
                                            <div class="col-md-12 saleitem-container scroller" style="height: 200px; padding: 10px !important" data-always-visible="1" data-rail-visible1="1">

                                                <table id="rawitem" class="table table-bordered griditem">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Item</th>
                                                            <th>Name</th>
                                                            <th>Qty</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-plus-as-tab="false">
                                                    </tbody>
                                                    <tfoot data-plus-as-tab="false">
                                                        <tr class="bold well">
                                                            <td colspan="3" class="bold align-right">Total</td>
                                                            <td class="bold well">
                                                                <input type="text" class="Quantity form-control input-small" disabled="disabled" readonly="readonly"></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-8 align-right">
                                            <div class="row">
                                            </div>
                                            <div class="row other-content12">
                                                <label class="control-label col-md-7">Total Issue KG</label>
                                                <div class="col-md-5">
                                                    <input id="QuantityTotal" class="form-control" type="text" disabled="disabled" readonly="readonly" data-required="required" data-message="Please add atleast one raw material item" />

                                                </div>
                                            </div>
                                            <div class="row other-content12">
                                                <label class="control-label col-md-7">Total Porduction Recpeit</label>
                                                <div class="col-md-5">
                                                    <input id="TotalPorductionRecpeit" class="form-control" type="text" disabled="disabled" readonly="readonly" />

                                                </div>
                                            </div>
                                            <div class="row other-content12">
                                                <label class="control-label col-md-7">Remaing in process</label>
                                                <div class="col-md-5">
                                                    <input id="RemaingInProcess" class="form-control" type="text" disabled="disabled" readonly="readonly" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8" id="finisheditem-container" data-save="save">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                Items Received in Finished Stock
                                            </div>

                                        </div>

                                        <div class="form-group" data-save="false">
                                            <div class="col-md-12 saleitem-container scroller" style="height: 200px; padding: 10px !important" data-always-visible="1" data-rail-visible1="1">

                                                <table id="finisheditem" class="table table-bordered griditem">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Item</th>
                                                            <th style="width: 20%;">Name</th>
                                                            <th>GSM</th>
                                                            <th>Width</th>
                                                            <th>Meters</th>
                                                            <th>Rolls</th>
                                                            <th>T Rolls</th>
                                                            <th>T Meters</th>
                                                            <th>T Weight</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-plus-as-tab="false">
                                                    </tbody>
                                                    <tfoot data-plus-as-tab="false">
                                                        <tr class="bold well">
                                                            <td colspan="7" class="bold align-right">Total &nbsp;</td>

                                                            <td colspan="1" class="bold well">
                                                                <input type="text" class="TotalsRolls form-control input-small" disabled="disabled" readonly="readonly"></td>
                                                            <td colspan="1">
                                                                <input type="text" class="TotalMeters form-control input-small" disabled="disabled" readonly="readonly"></td>
                                                            <td colspan="1">
                                                                <input type="text" class="Quantity form-control input-small" disabled="disabled" readonly="readonly"></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-8 align-right">
                                            <div class="row">
                                            </div>
                                            <div class="row other-content12">
                                                <label class="control-label col-md-7">Quantity Total</label>
                                                <div class="col-md-5">
                                                    <input id="FinishedQuantityTotal" class="form-control" type="text" disabled="disabled" readonly="readonly" data-required="required" data-message="Please add atleast one good finished item" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="btn-set pull-left">
                                <a href="javascript:;" onclick="NTProduction.LoadVoucher('first')" class="btn blue tooltips disabled first" data-original-title="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                                <a href="javascript:;" onclick="NTProduction.LoadVoucher('previous')" class="btn blue tooltips disabled previous" data-original-title="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="javascript:;" onclick="NTProduction.LoadVoucher('next')" class="btn blue tooltips disabled next" data-original-title="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="javascript:;" onclick="NTProduction.LoadVoucher('last')" class="btn blue tooltips disabled last" data-original-title="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                            <div class="btn-set pull-right">
                                @if (!SiteContext.Current.Fiscal.IsClosed)
                                {
                                    <button type="button" class="btn purple-plum" onclick="NTProduction.New()">
                                        <i class="fa  fa-plus-circle"></i>
                                        New</button>
                                    <button type="button" class="btn btn-primary green" onclick="NTProduction.Save()">
                                        <i class="fa fa-check"></i>
                                        Save</button>
                                    <button id="btndelete" type="button" class="btn red" onclick="NTProduction.Delete()">
                                        <i class="fa fa-trash-o"></i>
                                        Delete</button>
                                }
                                <button type="button" class="btn blue" onclick="window.location='@(Url.Content(SettingManager.DashBoardUrl))'">
                                    <i class="fa  fa-times-circle"></i>

                                    Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
    <div id="jsondata" class="hide">
        <p id="data">@ViewBag.FormSetting</p>
    </div>
}
<script type="text/html" id="template-raw-item">
    <tr>
        <td>
            <input type="text" class="CreatedDate form-control date-picker" data-clear-type='date' data-db-column="CreatedDate" data-db-type="date"></td>
        <td>
            <input type="hidden" class="Id" data-db-column="Id">
            <input type="hidden" class="ItemId" data-db-column="ItemId">
            <input type="hidden"  class="EntryType" data-db-column="EntryType" value="@((int)EntryType.RawMaterial)"><input type="hidden">
            <input type="text" class="Code form-control typeahead input-small ui-autocomplete-input" data-db-column="ItemCode" autocomplete="off">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Name form-control input-medium" data-db-column="ItemName"></td>
        <td class="align-right">
            <input type="text" class="Quantity form-control input-small num3" data-db-column="Quantity" data-db-type="decimal"></td>
        <td style="width: 8px;">
            <span class="action"><i class="fa fa-trash-o" onclick="NTProduction.DeleteRow(this)" data-original-title="Delete Item"></i></span>

        </td>
    </tr>
</script>
<script type="text/html" id="template-item">
    <tr>
        <td>
            <input type="text" class="CreatedDate form-control date-picker" data-clear-type='date' data-db-column="CreatedDate" data-db-type="date"></td>
        <td>
            <input type="hidden" class="Id" data-db-column="Id">
            <input type="hidden" class="ItemId" id="ItemId" data-db-column="ItemId">
            <input type="hidden"  class="EntryType" id="EntryType" data-db-column="EntryType" value="@((int)EntryType.FinishedGoods)"><input type="hidden">
            <input type="text" class="Code form-control typeahead input-small ui-autocomplete-input" data-db-column="ItemCode" autocomplete="off">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Name form-control input-medium" data-db-column="ItemName"></td>
        <td class="align-right">
            <input type="text" disabled="disabled" class="Weight form-control input-small num3" data-db-column="Weight" data-db-type="decimal"></td>
        <td class="align-right">
            <input type="text" class="Width form-control input-small num3" data-db-column="Width" data-db-type="decimal"></td>
        <td class="align-right">
            <input type="text" class="Meters form-control input-small num3" data-db-column="Meters" data-db-type="decimal"></td>
        <td class="align-right">
            <input type="text" class="Rolls form-control input-small num3" data-db-column="Rolls" data-db-type="decimal"></td>
        <td class="align-right">
            <input type="text" class="TotalsRolls form-control input-small num3" data-db-column="Rolls" data-db-type="decimal"></td>
        <td class="align-right">
            <input type="text" disabled="disabled" class="TotalMeters form-control input-small num3" data-db-column="TotalMeters" data-db-type="decimal"></td>
        <td class="align-right">
            <input type="text" class="Quantity form-control input-small num3" data-db-column="Quantity" data-db-type="decimal"></td>
        <td style="width: 8px;">
            <span class="action"><i class="fa fa-trash-o" onclick="NTProduction.DeleteRow(this)" data-original-title="Delete Item"></i></span>

        </td>
    </tr>
</script>
@section FooterScript
{
    <script src="~/Content/AppJS/Transaction/NTProduction.js"></script>
    <script>
        jQuery(document).ready(function () {
            NTProduction.init();
        });
    </script>
}

