@section PageStyle
{
    <link href="~/Content/orderbooking.css" rel="stylesheet" />
}
@section PageTitle
{
    <h1 class="font-green-sharp bold hidden-print">@ViewBag.FormTitle</h1>
}
@using AccountEx.Common;
@{
    ViewBag.Title = "Order Booking";
}
@{
    var type = Request.QueryString["type"] + "";
    switch (type.ToLower())
    {
        case "saleorder":
            ViewBag.FormTitle = "Sale Order";
            break;
        case "purchaseorder":
        case "purchases":
            ViewBag.FormTitle = "Purchase Order";
            break;
    }
    ViewBag.Title = ViewBag.FormTitle;
}
@using AccountEx.BussinessLogic;
@{
    type = Request["type"].ToLower();
    var vouchertype = ((VoucherType)Enum.Parse(typeof(VoucherType), type, true));
    var error = "";
    switch (type)
    {
        case "saleorder":

            if (SettingManager.CustomerHeadId == 0)
            {
                error += "<li>Customer or account is missing.</li>";

            }
            if (SettingManager.SalemanHeadId == 0)
            {
                error += "<li>Salesman account is missing.</li>";
            }
            break;
        case "purchaseorder":
            if (SettingManager.SupplierHeadId == 0)
            {
                error += "<li>Supplier account is missing.</li>";
            }

            if (SettingManager.SalemanHeadId == 0)
            {
                error += "<li>Salesman account is missing.</li>";
            }
            break;
    }
    if (SettingManager.ProductHeadId == 0)
    {
        error += "<li>Product Account is Missing.</li>";

    }
    if (SiteContext.Current.Fiscal == null)
    {
        error += "<li>No Fiscal year found.</li>";
    }
    var allowRate = false;
    if (vouchertype == VoucherType.SaleOrder && SettingManager.IsSaleOrderAllowRate)
    {
        allowRate = true;
    }
    else if (vouchertype == VoucherType.PurchaseOrder && SettingManager.IsPurchaseOrderAllowRate)
    {
        allowRate = true;
    }
    
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="note note-danger note-bordered">
        <h4 class="block">Head Account Missing</h4>
        <div>
            <i class="fa-lg fa fa-warning"></i>Head Account is missing in the application settings.In order to complete current transaction head accounts must be added in settings.<br />
            <ul>
                @Html.Raw(error)
            </ul>
            Add missing head accounts in settings and then try again by <a href="@Request.Url"><i class="fa fa-refresh"></i>&nbsp;Relaoding</a>&nbsp;the current page.
        </div>
    </div>
}
else
{
    //1 hide
    <div class="row hidden-print" id="form-info">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Add/Edit @ViewBag.FormTitle
                    </div>
                    <div class="actions hide">
                        <a href="javascript:;" onclick="OrderBooking.LoadVoucher('previous')" class="btn blue">
                            <i class="fa fa-angle-left"></i>&nbsp;Back
                        </a>
                        <a href="javascript:;" onclick="OrderBooking.LoadVoucher('next')" class="btn blue">
                            <i class="fa fa-angle-left"></i>&nbsp;Next 
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="mainform" class="form-horizontal" data-save="save">
                        <input type="text" id="Id" class="hide" data-include-in-item="true" data-item-id="OrderId" />
                        <input type="text" id="CreatedDate" class="hide date-picker" data-clear-type="date" />
                        <input type="text" id="IsDeleted" class="hide" />
                        <input type="text" id="Status" class="hide" />
                        <input type="text" id="PreVoucherNumber" class="hide" />
                        <input type="text" id="TransactionType" class="hide" value="@((byte)vouchertype)" data-clear="false" data-include-in-item="true" />
                        <div class="form-body">
                            <div class="hide alert alert-danger container-message">
                                <i class="close" onclick="$(this).parent().hide();"></i>
                                <strong></strong>
                                <div class="form-body message-content"></div>
                            </div>
                            <div class="form-group">

                                @*                        <label class="col-md-2 control-label" for="prefix">@type.ToLower() == "saleorder" ? "SO No." : "PO No."</label>        *@

                                @{
    type = Request.QueryString["type"] + "";
    if (type.ToLower() == "saleorder")
    {
                                    <label class="col-md-2 control-label" for="prefix">SO No.</label>
    }
    else
    {
                                    <label class="col-md-2 control-label" for="prefix">PO No.</label>
    }
                                }
                                <div class="col-md-1 container-voucher">
                                    <input type="text" class="form-control number input-small" id="VoucherNumber" data-required="required" data-plus-as-tab="false" data-validate="true" data-message="Voucher Number is required"  data-include-in-item="true">
                                </div>
                                <label class="col-md-2 control-label" for="prefix">Order Date</label>
                                <div class="col-md-2">
                                    <input id="Date" type="text" class="form-control date-picker input-small" data-clear-type='date' data-validate="true" data-required="required" data-message="Date is required" data-hide-dropdown="true" data-fiscal-date="true">
                                </div>
                                <div class="hide" id="data-srn-no">
                                    <label class="col-md-2 control-label" for="prefix">SRN No</label>
                                    <div class="col-md-2">
                                        <div class="input-group input-small">
                                            <input type="text" class="form-control number" id="SRN" data-plus-as-tab="false" data-plus-as-tab="false" data-validate="true">
                                            <span class="input-group-btn">
                                                <a id="SRNSearchIcon" class="btn green" data-toggle="tooltip" data-original-title="View Stock Requisitions" onclick="OrderBooking.GetStockRequisition()" style="height: 25px; width: 25px; padding-left: 7px; padding-top: 4px;">
                                                    <i class="icon-magnifier"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prefix">Book No.</label>
                                <div class="col-md-1">
                                    <input type="text" id="InvoiceNumber" data-validate="true" data-plus-as-tab="false" data-required="required" data-message="OB Number is required"  class="number form-control input-small" data-include-in-item="true" />
                                </div>
                                <label class="col-md-2 control-label" for="prefix">Delivery Date</label>
                                <div class="col-md-2">
                                    <input id="DeliveryDate" type="text" class="form-control date-picker" data-clear-type='date' data-required="required" data-message="Delivery Date is required" />
                                </div>
                                <div class="col-md-4 hide" id="order-type-conatiner">
                                    <div class="radio-list">
                                        <label class="radio-inline">

                                            <input type="radio" name="order-type" value="finishedgoods" checked="checked">
                                            Finish Goods
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="order-type" value="production">
                                            Production
                                        </label>

                                    </div>
                                </div>
                                @{
    type = Request.QueryString["type"] + "";
    if (type.ToLower() == "purchaseorder")
    {
                                    <label class="col-md-2 control-label" for="prefix">Estimate Delivery Time</label>
                                    <div class="col-md-2">
                                        <input id="DeliveryTime" type="text" class="form-control timepicker timepicker-no-seconds input-small " />
                                    </div>
    }
                                }
                            </div>
                            <div class="form-group">
                                @{
    type = Request.QueryString["type"] + "";
    if (type.ToLower() == "saleorder")
    {
                                    <label class="col-md-2 control-label master-account-label" for="prefix">Customer</label>
    }
    else
    {
                                    <label class="col-md-2 control-label master-account-label" for="prefix">Vendor</label>
    }
                                }
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-small" id="AccountCode" data-required="required" data-validate="true" data-message="Party Code is required" >
                                    <input type="hidden" id="AccountId" value="0" />
                                </div>
                                <div class="col-md-4">

                                    <input type="text" class="form-control" id="AccountName"  disabled="disabled">
                                </div>
                                @{
    type = Request.QueryString["type"] + "";
    if (type.ToLower() == "purchaseorder")
    {
                                    <label class="col-md-2 control-label" for="prefix">Vendor Quote Ref</label>
                                    <div class="col-md-2">
                                        <input id="VendorRef" type="text" class="form-control input-small" />
                                    </div>
    }
                                }
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prefix">Address</label>
                                <div class="col-md-5">
                                    <textarea class="form-control" id="PartyAddress" data-plus-as-tab="false"></textarea>
                                    @* <input class="form-control" style="height: 60px;" type="text" data-plus-as-tab="false" name="text" id="PartyAddress" />*@

                                </div>
                                @{if (type.ToLower() == "purchaseorder")
                                  {
                                    <label class="col-md-2 control-label" for="prefix">Currency</label>
                                    <div class="col-md-2">
                                        <select id="CurrencyId" class="CurrencyId form-control select2 input-small" data-db-column="CurrencyId" data-db-type="int">
                                            <option></option>
                                            @foreach (var item in (List<Entities.CodeFirst.Currency>)ViewBag.Currency)
                                            {
                                                <option data-custom="@item.Id" value="@item.Id">@(item.Unit)</option>
                                            }
                                        </select>
                                    </div>
                                  }
                                }
                            </div>

                            @{  
                                  if (type.ToLower() == "saleorder")
                                  {
                                <div class="form-group">
                                    <label class="col-md-2 control-label master-account-label" for="prefix">Salesman</label>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control input-small" id="SalesmanCode" data-required="false" data-plus-as-tab="false" data-validate="true" data-message="Salesman Code is required" >
                                        <input type="hidden" id="SalesmanId" value="0" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="SalesmanName"  disabled="disabled">
                                    </div>
                                </div>
                                  }
                            }

                            @{	type = Request.QueryString["type"] + "";
                                if (type.ToLower() == "purchaseorder")
                                {
        
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="prefix">Contact</label>
                                    <div class="col-md-1">
                                        <input type="text" id="ContactPerson"  class="form-control input-small" data-include-in-item="true" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="prefix">Email</label>
                                    <div class="col-md-1">
                                        <input type="text" id="Email"  class="form-control input-small" data-include-in-item="true" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="prefix">Forwarder</label>
                                    <div class="col-md-1">
                                        <input type="text" id="Forwarder"  class="form-control input-small" data-include-in-item="true" />
                                    </div>
                                    <label class="col-md-2 control-label" for="prefix">Payment Terms</label>
                                    <div class="col-md-2">
                                        <input id="PaymentTerm" type="text" class="form-control" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="prefix">Shipping Method</label>
                                    <div class="col-md-1">
                                        <input type="text" id="ShippingMethod"  class="form-control input-small" data-include-in-item="true" />
                                    </div>
                                    <label class="col-md-2 control-label" for="prefix">Shipping Date</label>
                                    <div class="col-md-2">
                                        <input id="ShippingDate" type="text" class="form-control date-picker" data-clear-type='date' data-hide-dropdown="true" />
                                    </div>
                                </div>
        
                                }
                                else
                                {
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="prefix">Party PO Number</label>
                                    <div class="col-md-5">
                                        <input class="form-control" type="text" name="text" id="PartyPONumber" />
                                    </div>
                                </div>
                                }
                            }
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prefix">Remarks</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="text" id="Comments" />

                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="form-group" data-save="false"@*style="width: 700px; display: block;  margin-right: auto;"*@>
                                <div class="col-md-7 saleitem-container">

                                    <table id="item-container" class="table table-bordered griditem">
                                        <thead>
                                            <tr>
                                                <th style="width: 12%;">Code</th>
                                                <th style="width: 20%;">Name</th>
                                                <th style="width: 15%;">Article</th>
                                                <th style="width: 20%;">Remarks</th>
                                                <th colspan="2" style="text-align: center">Unit</th>
                                                @if (@allowRate)
                                                {
                                                    <th class="align-right">Rate</th>
                                                    <th style="width: 12%;" class="align-right">Amount</th>
                                                }
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody data-plus-as-tab="false">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @*<div class="col-md-4"></div>*@
                            <div class="form-group">
                                <label class="control-label col-md-2">Special Instructions</label>
                                <div class="col-md-5">
                                    <textarea id="Instructions" class="form-control" data-plus-as-tab="false" style="height: 80px;"></textarea>
                                </div>
                                <label class="control-label col-md-3">Qty Total</label>
                                <div class="col-md-2">
                                    <input id="QuantityTotal" class="align-right form-control" type="text" disabled="disabled" readonly="readonly" data-required="required" data-message="Please add atleast one item" />
                                </div>
                                @if (@allowRate)
                                {
                                    <label class="control-label col-md-3">Net Total</label>
                                    <div class="col-md-2">
                                        <input id="NetTotal" class="align-right form-control" type="text" disabled="disabled" readonly="readonly" data-required="required" data-message="Please add atleast one item" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="btn-set pull-left">
                                <a href="javascript:;" onclick="OrderBooking.LoadVoucher('first')" class="btn blue tooltips disabled first" data-original-title="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                                <a href="javascript:;" onclick="OrderBooking.LoadVoucher('previous')" class="btn blue tooltips disabled previous" data-original-title="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="javascript:;" onclick="OrderBooking.LoadVoucher('next')" class="btn blue tooltips disabled next" data-original-title="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="javascript:;" onclick="OrderBooking.LoadVoucher('last')" class="btn blue tooltips disabled last" data-original-title="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                            <div class="btn-set pull-right">
                                @if (!SiteContext.Current.Fiscal.IsClosed)
                                {
                                    <button type="button" class="btn purple-plum" onclick="OrderBooking.New()">
                                        <i class="fa  fa-plus-circle"></i>
                                        New</button>
                                    <button type="button" class="btn btn-primary green" onclick="OrderBooking.Save()">
                                        <i class="fa fa-check"></i>
                                        Save</button>
                                    <button type="button" id="btndelete" class="btn red" onclick="OrderBooking.Delete()">
                                        <i class="fa fa-trash-o"></i>
                                        Delete</button>
                                }
                                <button type="button" id="btnprint" class="btn yellow" onclick="OrderBooking.Print()">
                                    <i class="fa fa-print"></i>

                                    Print</button>
                                <button type="button" class="btn blue" onclick="window.location='@(Url.Content(SettingManager.DashBoardUrl))'">
                                    @*                                <button type="button" class="btn blue" onclick="window.location='../account/dashboard2'">*@
                                    <i class="fa  fa-times-circle"></i>
                                    Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div class="hide" id="div-table">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Record Listing
                    </div>
                    <div class="actions">
                        <a href="javascript:;" onclick="OrderBooking.Add()" class="btn blue">
                            <i class="fa fa-plus"></i>&nbsp;New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="hide alert alert-danger container-message">
                        <i class="close" onclick="$(this).parent().hide();"></i>
                        <strong></strong>
                        <div class="form-body message-content"></div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="mainTable">
                        <thead>
                            <tr>
                                <th style="width: 8px;" class="no-sort">
                                    <input type="checkbox" class="group-checkable" data-set="#mainTable .checkboxes" />
                                </th>
                                <th>Vou #
                                </th>
                                <th>Bill #</th>
                                <th>Party</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Remarks</th>
                                <th style="width: 75px;" class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div id="Orders-Container" class="modal fade hidden-print bs-modal-lg" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><span class='caption-subject font-green-sharp bold'>Search Orders</span> </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="SRNTable" style="border: 1px solid #DDD" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>SRN No</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn" id="btnOrderClose">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="jsondata" class="hide">
        <input id="FormSetting"  type="text" value="@ViewBag.FormSetting" />
    </div>
}

<div id="div-report" class="visible-print" style="padding-top: 40px">
    @{	type = Request.QueryString["type"] + "";
        if (type.ToLower() == "purchaseorder")
        {
        <span class="pull-right" style="margin-top: -55px;">UI-PO-03 | REV # 00 | ISSUE # 02</span>
        }
    }
    <div class=" row form-group">

        <div class="col-md-4 col-xs-4 img-container" id="img-container">
            @* <span style="font-size:8px"><img alt="" src="../Upload/ApplicationLogo/1583086699logomain.png" style="height: 76px;width: 350px;"></span>*@
            @if (!string.IsNullOrWhiteSpace(SettingManager.ReportHeader))
            {
                @(new HtmlString(SettingManager.ReportHeader))
            }
        </div>
        @*<div class="col-xs-5" >	
        </div>*@
        @{	type = Request.QueryString["type"] + "";
            if (type.ToLower() == "purchaseorder")
            {
            <div class="col-xs-8" style="font-size: 20px;">
                <p style="margin-left: 120px; margin-top: 20px; margin-bottom: 50px; padding: 0px; line-height: 0px; font-size: 20px !important;"
                    class="po-title-color">
                    PURCHASE ORDER
                </p>
            </div>
            }
            else
            {
            <div class="col-xs-8" style="font-size: 20px;">
                <p style="margin-left: 120px; margin-top: 20px; margin-bottom: 50px; padding: 0px; line-height: 0px; font-size: 20px !important;" class="po-title-color">SALE ORDER</p>
            </div>
            }
        }



    </div>

    @*  <div class="PoHead"><b>@ViewBag.Title</b></div>*@
    <div style="margin-top: -30px;">
        <table class="report-summary-infor information full-width" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 60%; vertical-align: top;">
                        <table>
                           <tbody style="color: #BAC5D1;">
                                <tr>
                                    <td class="PoAddress">@SettingManager.Address </td>
                                </tr>
                                <tr>
                                    <td class="PoAddress">@SettingManager.CityState</td>
                                    <tr>
                                        <td class="PoAddress">@SettingManager.Phone
                                        </td>
                                    </tr>
                                <tr>
                                    <td class="PoAddress">@SettingManager.Fax</td>
                                </tr>
                                <tr>
                                    <td class="PoAddress">@SettingManager.Email</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                        </div>
                    </td>

                    <td style="width: 60%; vertical-align: top;">
                        <table id="poinfo-table">
                            <tr>
                                <td class="font-size">Date :</td>
                                <td>
                                    <span id="lblDate" class="po-header"></span>
                                </td>
                            </tr>
                            <tr>
                                @{	type = Request.QueryString["type"] + "";
                                    if (type.ToLower() == "purchaseorder")
                                    {
                                    <td class="font-size">PO # </td>
                                    }
                                    else
                                    {
                                    <td class="font-size">SO # </td>
                                    }
                                }
                                <td>
                                    <span id="lblVoucherNumber" class="po-header"></span>
                                </td>
                            </tr>
                            @{	type = Request.QueryString["type"] + "";
                                if (type.ToLower() == "purchaseorder")
                                {
                                <tr>
                                    <td class="font-size">Vendor Code  </td>
                                    <td>
                                        <span id="lblAccountCode" class="po-header"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-size">Quote Ref </td>
                                    <td>
                                        <span id="lblVendorRef" class="po-header"></span>
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    @* <div class="col-md-1 col-xs-1">
    </div>*@
    <div class="col-md-6 col-xs-6">
        <table style="color: #9995AC;">
            <tr>
                <td class="font-size">Vendor</td>
                <td class="address-company-vendor"><span id="lblAccountName"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="address-company-vendor"><span id="lblPartyAddress"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="address-company-vendor"><span id="lblContactPerson"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="address-company-vendor"><span id="lblEmail"></span>
                </td>
            </tr>
        </table>
    </div>


    @{	type = Request.QueryString["type"] + "";
        if (type.ToLower() == "purchaseorder")
        {
        <div class="col-md-6 col-xs-6">
           <table style="color: #9995AC;">
                <tr>
                    <td class="font-size">Ship To</td>
                    <td class="address-company-vendor">@SettingManager.ApplicationTitle</td>
                    <td>
                        <span id="lblCompanyName"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="address-company-vendor">@SettingManager.Address</td>
                    <td>
                        <span id="lblVoucherNumber12"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="address-company-vendor">@SettingManager.CityState </td>
                    <td>
                        @*<span id="lblAccountCode"></span>*@
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="address-company-vendor">@SettingManager.Phone</td>
                    <td>
                        <span id="lblVendorRefss"></span>
                    </td>
                </tr>
            </table>
        </div>
        }
    }
    @{	type = Request.QueryString["type"] + "";
        if (type.ToLower() == "purchaseorder")
        {
        <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
            <table id="report-saleitem2" class="table table-bordered full-width">
                <thead>
                    <tr class="noBorder">
                        <th>Requisitioned By</th>
                        <th>Forwarder</th>
                        <th>Payment Terms</th>
                        <th>Shipping Method</th>
                        <th style="text-align:center">Shipping Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>@SiteContext.Current.User.Username</span></td>
                        <td><span id="lblForwarder"></span></td>
                        <td><span id="lblPaymentTerm"></span></td>
                        <td><span id="lblShippingMethod"></span></td>
                        <td style="text-align:center"><span id="lblShippingDate"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        }
    }

    <div class="col-md-12 col-xs-12" style="margin-top: 5px;">
        <table id="report-saleitem" class="table table-bordered full-width">
            <thead>
                <tr class="noBorder">
                    <th>Item #</th>
                    <th>Article #</th>
                    <th>Description</th>
                    <th colspan="2">Quantity</th>
                    <th class="align-right">Unit Price</th>
                    <th class="align-right">Line Total</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="align-right" style="border-bottom: 0px;">Total</td>
                    <td class='align-right'><span id="lblTotalAmount" ></span></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <b class="font-size">Special Instructions:</b>
        <p><span id="lblInstructions"></span></p>
    </div>
    <div class="col-md-6 col-xs-6">
    </div>
    <div class="col-md-6 col-xs-6">
    </div>
    <div class="row-bottom" style="border-top: 1px #000; width: 420px; float: right; margin-top: 100px;">
        <table class="full-width">
            <tr>
                <td style="width: 0px;"></td>
                <td>
                    <div class="authorized-by"><span>Authorized by</span></div>
                </td>
                <td>
                    <div class="authorized-date"><span>Date</span></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row-bottom " style="position: absolute; border-top: 1px #000; bottom: 30px; padding-top: 5px; font-size: 10px; padding-left: 190px;">
        For any discrepancy please contact us at info@ultratecpak.com
    </div>

</div>

<script type="text/html" id="template-item-print">
    <tr>
        <td>{{ItemName}}
        </td>
        <td>{{Quantity}}
        </td>
    </tr>
</script>
<script type="text/html" id="template-item">
    <tr>
        <td>
            <input type="hidden" class="Id" data-db-column="Id">
            <input type="hidden" class="ItemId" id="ItemId" data-db-column="ItemId">
            <input type="hidden" class="EntryType" id="EntryType" data-db-column="EntryType" value="@((int)EntryType.Item)">
            <input type="text" class="Code form-control typeahead input-small ui-autocomplete-input" data-db-column="ItemCode" autocomplete="off">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Name form-control input-medium" data-db-column="ItemName" >
        </td>
        <td>
            <input type="text" disabled="disabled" class="ArticleNo form-control input-medium" data-db-column="ArticleNo" data-permanent-disabled= >
        </td>
        <td>
            <input type="text" class="ItemRemarks form-control input-medium" data-db-column="ItemRemarks">
        </td>
        <td class="align-right">
            <input type="text" class="Quantity form-control input-small num3" data-db-column="Quantity" data-db-type="decimal">
        </td>
        <td>
            <input type="text" class="Unit form-control input-small" data-db-column="Unit" disabled>
        </td>
        @if (@allowRate)
        {
            <td class="align-right">
                <input type="text" class="Rate form-control input-small num3" data-db-column="Rate" data-db-type="decimal">
            </td>

            <td class="align-right">
                <input type="text" class="Amount form-control input-small" data-db-column="Amount" data-db-type="decimal" disabled>
            </td>


        }

        <td class="td-delete">
            <span class="action"><i class="fa fa-trash-o" onclick="OrderBooking.DeleteRow(this)" data-original-title="Delete Item"></i></span>
        </td>
    </tr>
</script>
@section FooterScript
{
    <script src="~/Content/AutoComplete/jquery-ui.js"></script>
    <link href="~/Content/AutoComplete/jquery-ui.css" rel="stylesheet" />
    @* <script src="~/Content/HotKey/jquery.hotkeys.js"></script>*@
    <script src="~/Content/AppJS/Transaction/OrderBooking.js"></script>
    <script>
        jQuery(document).ready(function () {
            OrderBooking.init();
        });
    </script>
}

