@using AccountEx.Common;
@{
    ViewBag.Title = "Invoice Printing";
}
<style type="text/css">
    #tbldetail tfoot {
        font-weight: bold;
    }

    .report-table tbody tr td:nth-last-child(1),
    .report-table tbody tr td:nth-last-child(2),
    .report-table tfoot tr td:nth-last-child(1),
    .report-table tfoot tr td:nth-last-child(2) {
        /*text-align: right;*/
    }
</style>

@section PageTitle
{

    <h1 class="font-green-sharp bold"><span class=" main-title">Invoices</span><small id="lblReportDate" class="pull-right small visible-print">Date: 24/10/2014</small> </h1>

}



<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Report Filters
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @* <a href="javascript:;" class="remove"></a>*@
                </div>
                <div class="actions">
                    <button class="btn blue hidden-print" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;Print </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="Save">
                    <input type="text" id="Id" class="hide" />
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">From Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="FromDate" data-validate="true" data-required="required" value="@SiteContext.Current.Fiscal.FromDate.ToString(AppSetting.DateFormat)" data-message="From Date"  data-fiscal-date="true">

                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-1 control-label" for="prefix">To Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="ToDate" data-validate="true" data-required="required" value="@SiteContext.Current.Fiscal.ToDate.ToString(AppSetting.DateFormat)" data-message="To Date"  data-fiscal-date="true">

                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Department</label>
                            <div class="col-md-6">
                                @*@Html.DropDownListFor(p => p.AccountId, new SelectList(Model.Accounts, "Id", "Name"), new { @class = "form-control select2" })*@
                                <select id="AccountId" class="form-control select2"></select>

                            </div>
                        </div>

                        <div class="form-group hide">
                            <label class="col-md-2 control-label" for="prefix">Group</label>
                            <div class="col-md-3">
                                <select id="GroupId" class="form-control Filterselect2" placeholder="Select group">
                                    <option></option>
                                    @*@foreach (var p in (List<IdName>)ViewBag.ProductGroups)
                                    {
                                        <option data-custom="@p.Id" value="@p.Id">@p.Name</option>
                                    }*@
                                </select>
                                <input type="hidden" value="GroupId" />
                            </div>
                            <label class="col-md-1 control-label" for="prefix">Report Type</label>
                            <div class="col-md-2">
                                <select id="ReportType" class="select2 form-control">
                                    <option>Summary</option>
                                    <option>Detail</option>

                                </select>
                            </div>
                        </div>





                    </div>
                    <div class="form-actions">
                        <div class="form-group">

                            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                            <div class="col-md-8">
                                <button id="btnShowReport" type="submit" class="btn btn-primary">Show Report</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Report Data
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="remove"></a>*@
                </div>
                <div class="tools pull-right">
                    @{ Html.RenderPartial("_Export_Button");  }
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered report-table" data-export='true'>
                    <thead>
                        <tr data-row='detail' class="hide">
                            <th>Date</th>
                            <th>Voucher#</th>
                            <th>Book#</th>
                            <th>Description</th>
                            <th>Item</th>
                            <th class="align-right">Quantity</th>
                            <th class="align-right">Rate</th>
                            <th class="align-right">Amount</th>
                           
                            <th class="align-right">Net Amount</th>

                        </tr>
                        <tr data-row='summary' class="hide">
                            <th>Date</th>
                            <th>Voucher#</th>
                            <th>Book#</th>
                            <th>Description</th>
                            <th class="align-right">Quantity</th>
                            <th class="align-right">Rate</th>
                            <th class="align-right">Amount</th>
                           
                            <th class="align-right">Net Amount</th>

                        </tr>

                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div id="jsondata" class="hide">
    <p id="data">@ViewBag.FormSetting</p>
</div>
@section FooterScript
{
<script src="~/Content/AppJS/Nexus/InvoicePrinting.js"></script>
    <script>
        jQuery(document).ready(function () {
            InvoicePrinting.init();
        });
    </script>
}
