@using AccountEx.Common;
@using AccountEx.BussinessLogic;

@{
    ViewBag.Title = "PMC";
}
@section PageTitle
{


    <h1 class="font-green-sharp bold hidden-print">Manage @ViewBag.Title</h1>
}


<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add/Edit @ViewBag.FormTitle
                </div>
                <div class="actions hide">
                    <a href="javascript:;" onclick="PMC.LoadVoucher('previous')" class="btn blue">
                        <i class="fa fa-angle-left"></i>&nbsp;Back
                    </a>
                    <a href="javascript:;" onclick="PMC.LoadVoucher('next')" class="btn blue">
                        <i class="fa fa-angle-left"></i>&nbsp;Next
                    </a>

                </div>
            </div>
            <div class="portlet-body form">

                <div id="mainform" class="form-horizontal" data-save="save">

                    <input type="text" id="Id" class="hide" data-include-in-item="true" data-item-id="PMCId" />
                    <input type="text" id="CreatedDate" class="hide ac-date" data-clear-type="date" />
                    <input type="text" id="IsDeleted" class="hide" />
                    <input type="text" id="PreVoucherNumber" class="hide" />
                    <div class="form-body">

                        <div class="form-group hide">
                            <label class="col-md-2 control-label" for="prefix">Vou #</label>
                            <div class="col-md-1 container-voucher">
                                <label id="lblVoucherNumber" class="label label-info label-voucher"></label>
                                <input type="text" class="form-control number input-xsmall" id="VoucherNumber" data-plus-as-tab="false" data-required="required" data-message="Voucher Number is required" data-include-in-item="true">
                            </div>
                            @*<label class="col-md-1 control-label" for="prefix">Book #</label>
                                <div class="col-md-1">
                                    <input type="text" id="InvoiceNumber" data-validate="true" data-required="required" data-message="Book Number is required"  class="number form-control input-xsmall" data-plus-as-tab="false" data-include-in-item="true">
                                </div>*@
                            <label class="col-md-1 control-label hide" for="prefix">Date</label>
                            <div class="col-md-1 hide">

                                <input id="Date" type="text" class="form-control date-picker" data-clear-type='date' data-validate="true" data-required="false" data-message="Date is required" data-plus-as-tab="false" data-fiscal-date12="false">
                            </div>
                            <div class="col-md-4 hide">
                                <label class="control-label" for="GetNextVoucher">
                                    <input type="checkbox" id="ChkGetNextVoucher" />
                                    Reload next Voucher on save
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label master-account-label" for="prefix">Customers</label>
                            <div class="col-md-4">
                                <select class="form-control select2" id="CustomerId" data-required="false" data-message="Customer is required" placeholder="select customer">
                                    <option></option>
                                    @foreach (var p in (List<IdName>)ViewBag.Customers)
                                    {
                                        <option data-custom="@p.Id" value="@p.Id">@p.Name</option>
                                    }

                                </select>

                            </div>
                        </div>







                        <div class="form-group hide">
                            <label class="col-md-2 control-label" for="prefix">Remarks</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="text" id="Comments" />
                            </div>
                        </div>
                        <div class="row" data-save="false">
                            <div class="col-md-12 saleitem-container scroller12" data-always-visible="1" data-rail-visible1="1">
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>Item List
                                        </div>
                                    </div>
                                </div>
                                <table id="item-container" class="table table-bordered griditem">
                                    <thead>
                                        <tr>
                                            <th style="width:1%">SR #</th>
                                            <th style="width:15%">Product</th>
                                            <th style="width:10%">Sale Person</th>
                                            <th style="width:10%">Vendor</th>
                                            <th style="width:3%">Division</th>
                                            <th style="width:1%">Currency</th>
                                            <th style="width:2%">Ex. Rate</th>
                                            <th style="width:2%" class="align-right">Price</th>
                                            <th style="width:2%" class="align-right">Annual Qty</th>
                                            <th style="width:4%" class="align-right">Annual Potential (PKR)</th>
                                            <th style="width:4%" class="align-right">Annual RPL Potential</th>
                                            <th style="width:2%">Counter</th>
                                            <th style="width:10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody data-plus-as-tab="false"></tbody>
                                    <tfoot data-plus-as-tab="false">
                                        <tr class="bold well hide">
                                            <td colspan="2" class="bold align-right">Total &nbsp;</td>

                                            <td colspan="3" class="bold well">
                                                <input type="text" class="Quantity form-control input-small" disabled="disabled" readonly="readonly">
                                            </td>
                                            <td colspan="6">
                                                <input type="text" class="Amount form-control input-small" disabled="disabled" readonly="readonly">
                                            </td>


                                        </tr>
                                    </tfoot>
                                </table>
                                <a id="btn-add-item" class="btn btn-xs green top-minus21Margin" href="javascript:;">Add Row</a>
                            </div>


                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-list"></i>&nbsp;<b>Summary</b>
                                    </div>
                                </div>
                                <div class="row">

                                    <table id="table-summary" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Division</th>
                                                <th class="align-right">Potential</th>
                                                <th class="align-right">Rudolf Business</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>


                                <br />

                                <div class="form-group hide">
                                    <label class="col-md-3 control-label" for="prefix">Previous Balance</label>
                                    <div class="col-md-3 container-voucher">

                                        <label id="lblpreviousbalance" class="label label-warning label-voucher">00</label>
                                    </div>

                                    <label class="control-label col-md-3">Current Balance</label>
                                    <div class="col-md-2">
                                        <label id="lblcurrentbalance" class="label label-success label-voucher">00</label>

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4 align-right hide">
                                <div class="row">
                                </div>
                                <div class="row other-content12">
                                    <label class="control-label col-md-7">Quantity Total</label>
                                    <div class="col-md-5">
                                        <input id="qtytotal1" class="form-control" type="text" disabled="disabled" readonly="readonly" data-required="false" data-message="Please add atleast one item" />

                                    </div>
                                </div>
                                <div class="row hide">
                                    <label class="control-label col-md-7">Gross Total</label>
                                    <div class="col-md-5">
                                        <input id="GrossTotal" class="form-control" type="text" disabled="disabled" readonly="readonly" data-required="FALSE" data-message="Please add atleast one item" />

                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-7">Discount %</label>
                                    <div class="col-md-5">
                                        <input id="DiscountPercent" class="form-control num2" type="text" value="0" />


                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-7">Discount</label>
                                    <div class="col-md-5">

                                        <input id="Discount" class="form-control align-right num3" type="text" value="0" />

                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-7">Net Total</label>
                                    <div class="col-md-5">
                                        <input id="NetTotal" class="form-control" disabled="disabled" readonly="readonly" type="text" value="" />

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="btn-set pull-left">
                            @*<a href="javascript:;" onclick="PMC.LoadVoucher('first')" class="btn blue tooltips disabled first" data-original-title="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                                <a href="javascript:;" onclick="PMC.LoadVoucher('previous')" class="btn blue tooltips disabled previous" data-original-title="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="javascript:;" onclick="PMC.LoadVoucher('next')" class="btn blue tooltips disabled next" data-original-title="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="javascript:;" onclick="PMC.LoadVoucher('last')" class="btn blue tooltips disabled last" data-original-title="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>*@
                        </div>
                        <div class="btn-set pull-right">
                            @if (!SiteContext.Current.Fiscal.IsClosed)
                            {
                                <button type="button" class="btn purple-plum" onclick="PMC.New()">
                                    <i class="fa  fa-plus-circle"></i>
                                    New
                                </button>
                                <button type="button" class="btn btn-primary green" onclick="PMC.Save()">
                                    <i class="fa fa-check"></i>
                                    Save
                                </button>
                                @*<button id="btndelete" type="button" class="btn red" onclick="PMC.Delete()">
                                        <i class="fa fa-trash-o"></i>
                                        Delete
                                    </button>*@
                            }
                            @*<button type="button" class="btn blue" onclick="window.location='@(Url.Content(SettingManager.DashBoardUrl))'">
                                    <i class="fa  fa-times-circle"></i>

                                    Close
                                </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div class="" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Record Listing
                </div>
                <div class="col-md-4">
                    <select id="FilterFiscalId" class="form-control Filterselect2 pull-right" placeholder="select year">
                        @*<option></option>*@
                        @foreach (var item in ViewBag.Fiscals)
                        {
                            if (SiteContext.Current.Fiscal.Id == item.Id)
                            {
                                <option selected="selected" value="@item.Id">@(item.Name)</option>
                            }
                            else
                            {
                                <option value="@item.Id">@(item.Name)</option>

                            }
                        }
                    </select>
                </div>
                <div class="actions">
                    <a href="javascript:;" onclick="PMC.Add()" class="btn blue">
                        <i class="fa fa-plus"></i>&nbsp;New
                    </a>
                    @{ Html.RenderPartial("_Export_Button_DataTable");  }
                </div>
            </div>
            <div class="form-horizontal" data-save='save' id="filters-container">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Filter
                            </div>
                            <div class="actions hide">
                                <a id="actionBackList" href="javascript:;" class="btn blue ">
                                    <i class="fa fa-angle-left"></i>&nbsp;Back to list
                                </a>
                            </div>
                        </div>

                        <div class="form-body" data-querystring="true">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label" for="prefix">Product</label>
                                        <div class="col-md-3">
                                            <select id="FilterProduct" class="form-control select2" placeholder="All" data-custum-disabled='false'>
                                                <option></option>
                                                @foreach (var p in (List<IdName>)ViewBag.Products)
                                                {
                                                    <option value="@p.Id">@p.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <label class="col-md-1 control-label" for="prefix">Division</label>
                                        <div class="col-md-2">
                                            <select id="FilterDivision" class="form-control select2" placeholder="All" data-custum-disabled='false'>
                                                <option></option>
                                                @foreach (var p in (List<IdName>)ViewBag.Divisions)
                                                {
                                                    <option value="@p.Id">@p.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button id="btnSearch" type="button" class="btn btn-primary btnSearch"><i class="fa fa-filter"></i>&nbsp;Search</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label" for="prefix">Customer</label>
                                        <div class="col-md-6">
                                            <select id="FilterCustomer" class="form-control select2" placeholder="" data-custum-disabled='false'>
                                                <option></option>
                                                @foreach (var p in (List<IdName>)ViewBag.Customers)
                                                {
                                                    <option value="@p.Id">@p.Name</option>
                                                }
                                            </select>
                                        </div>


                                    </div>
                                    @if (SiteContext.Current.UserTypeId != CRMUserType.SalesExecutive)
                                    {
                                        <div class="form-group">
                                            <label class="col-md-1 control-label master-account-label" for="prefix">Sale Person</label>
                                            <div class="col-md-6">
                                                <select id="FilterSalePersonId" class="form-control select2" placeholder="Select sale person" data-clear='true' data-custum-disabled='false'>
                                                    <option></option>
                                                    @foreach (var p in (List<IdName>)ViewBag.SalePersons)
                                                    {
                                                        <option data-custom="@p.Id" value="@p.Id">@p.Name</option>
                                                    }
                                                </select>


                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>

                <table class="table table-striped table-bordered table-hover" id="mainTable" data-export='true'>
                    <thead>
                        <tr>
                            <th style="width:4px">#</th>
                            <th style="width:20%">Customer</th>
                            <th style="width:20%">Sale Person</th>
                            <th style="width:20%">Product</th>
                            <th style="width:10%">Vendor</th>
                            <th style="width:2%">Div.</th>
                            <th style="width:5px">Smb</th>
                            <th style="width:2%" class="align-right">Price</th>
                            <th style="width:2%" class="align-right"> Qty</th>
                            <th style="width:2%" class="align-right">Pot</th>
                            <th style="width:2%" class="align-right">rppl Pot.</th>
                            <th style="width:3%">Cnt.</th>
                            <th style="width:10%">Project</th>
                            <th style="width:8%" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="14">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div id="jsondata" class="hide">
    <p id="data">@ViewBag.FormSetting</p>
</div>

<script type="text/html" id="template-item">
    <tr>

        <td>

            <input type="hidden" class="ProductId" data-db-column="ProductId">
            <input type="hidden" class="Id" data-db-column="Id">
            <input type="hidden" class="SalePersonId" data-db-column="SalePersonId">
            <input type="text" class="SN form-control input-xsmall ui-autocomplete-input" data-db-column="SN" disabled="disabled" readonly="readonly">
        </td>

        <td>
            <input type="text" class="ProductName form-control input-medium" data-db-column="ProductName">
        </td>
        <td>
            <input type="text" class="SalePerson form-control input-medium" data-db-column="SalePerson" disabled="disabled" readonly="readonly">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Vendor form-control input-medium" data-db-column="Vendor" data-permanent-disabled="true">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Division form-control input-medium" data-db-column="Division" data-permanent-disabled="true">
        </td>
        <td>
            <select class="form-control select2 CurrencyId" placeholder="select currency" data-db-column="CurrencyId">
                <option></option>
                @foreach (var p in (List<IdName>)ViewBag.Currencies)
                {
                    <option data-custom="@p.Id" value="@p.Id">@p.Name</option>
                }

            </select>

        </td>
        <td>
            <input type="text" class="ExcRate form-control input-small num4" data-db-column="ExcRate" data-db-type="decimal" disabled="disabled" readonly="readonly">
        </td>
        <td>
            <input type="text" class="Price form-control input-small num2dec2 align-right" data-db-column="Price" data-db-type="decimal" data-formating="true">
        </td>
        <td>
            <input type="text" class="AnnualQty form-control input-small num2dec2 align-right" data-db-column="AnnualQty" data-db-type="decimal" data-formating="true">
        </td>
        <td>
            <input type="text" class="AnnualPotential form-control input-small num4 align-right" data-db-column="AnnualPotential" data-db-type="int" disabled="disabled" readonly="readonly" data-formating="true">
        </td>
        <td>
            <input type="text" class="form-control input-small num4 AnnualRPLPotential align-right" data-db-column="AnnualRPLPotential" data-db-type="int" disabled="disabled" readonly="readonly" data-formating="true" />
        </td>
        <td>
            <select class="IsCounter" data-db-column="IsCounter" data-db-type="bool">
                <option value="false">No</option>
                <option value="true">Yes</option>

            </select>
        </td>
        @*<td>
            <input type="checkbox" class="IsActive" data-checktrack='false' data-db-column="IsActive" data-db-type="bool" />
        </td>*@
        <td>
            <span class="action"><i class="fa fa-trash-o action-delete" title="Delete Item"></i></span>
            <a class="action-create-project btn btn-sm green hide" title="Create Project">
                Create Project

            </a>



        </td>
    </tr>
</script>
@section FooterScript
{
    <style type="text/css">
        .btn.action-create-project {
            padding: 0px 4px !important;
        }
    </style>
    <script src="~/Content/AppJS/CRM/PMC.js"></script>
    <script>
        jQuery(document).ready(function () {
            PMC.init();
        });
    </script>
}

