@model AccountEx.Web.Models.GeneralLedgerModel
@using AccountEx.Common;
@{
    Layout = "~/Views/Reports/_Layout.cshtml";
    ViewBag.Title = "Profit Loss";   
}
<style type="text/css">
    #tbldetail tfoot {
        font-weight: bold;
    }

    /*.report-table tbody tr td:nth-last-child(1),
    .report-table tbody tr td:nth-last-child(2),
    .report-table tfoot tr td:nth-last-child(1),
    .report-table tfoot tr td:nth-last-child(2) {
        text-align: left;
    }*/

    .report-table tbody tr td:nth-child(2) {
        text-align: right;
    }

    /*.sub-head {
        text-align: left;
    }*/
</style>
@section PageTitle
{

    <h1 class="font-green-sharp bold"><span class="main-title">Profit Loss Report</span>
        <small id="lblReportDate" class="pull-right small visible-print">Date: 24/10/2014</small></h1>
}
@section VehicleBranchesDropdown
{

    @Html.Partial("../Vehicle/_UserBranches_Dropdown", new ViewDataDictionary { { "Labelcolspan", 2 }, { "Divcolspan", 12 }, { "showLabel", false } })
}
<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Report Filters
                </div>
                <div class="actions">
                    <button class="btn blue hidden-print" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;Print </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="Save">
                    <input type="text" id="Id" class="hide" />
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">From Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="FromDate" data-validate="true" data-required="required" value="@SiteContext.Current.Fiscal.FromDate.ToString(AppSetting.DateFormat)" data-message="From Date"  data-fiscal-date="true" >

                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label" for="prefix">To Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="ToDate" data-validate="true" data-required="required" value="@SiteContext.Current.Fiscal.ToDate.ToString(AppSetting.DateFormat)" data-message="To Date"  data-fiscal-date="true" >

                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-md-2 control-label" for="prefix">Report Type</label>
                            <div class="col-md-3">
                                <select id="ReportType" class="select2 form-control">
                                    <option>Summary</option>
                                    <option>Detail</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="form-group">

                            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                            <div class="col-md-8">
                                <button id="btnShowReport" type="submit" class="btn btn-primary">Show Report</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-6 col-xs-6">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Cost of Goods Sold
                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tools pull-right">
                    @{ Html.RenderPartial("_Export_Button");  }
                </div>
            </div>
            <div class="portlet-body">
                <table id="table-goodsold" class="table table-striped table-bordered report-table" data-export='true'>
                    <thead>
                        <tr>
                            <th>Account Heads</th>
                            <th class='align-right'>Amount</th>


                        </tr>

                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-6 col-xs-6">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Expenses Detail
                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table id="table-expense" class="table table-striped table-bordered report-table">
                    <thead>
                        <tr>
                            <th>Account Heads </th>
                            <th class='align-right'>Amount</th>


                        </tr>

                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="well">
                <div class="row static-info align-reverse">
                    <div class="col-md-8 col-xs-5 name">
                        Gross Profit:
                    </div>
                    <div class="col-md-3 col-xs-5 value border-bottom" id="div-profit">
                        0.00
                    </div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-8 col-xs-5 name">
                        Total Expenses:
                    </div>
                    <div id="div-expense" class="col-md-3 col-xs-5 value border-bottom">
                        0.00
                    </div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-8 col-xs-5 name">
                        Net Profit:
                    </div>
                    <div class="col-md-3 col-xs-5 value border-bottom" id="div-netprofit">
                        0.00 
                    </div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-8 col-xs-5 name">
                        Misc. Income:
                    </div>
                    <div class="col-md-3 col-xs-5 value border-bottom" id="div-otherincome">
                        0.00 
                    </div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-8 col-xs-5 name">
                        Net Profit With Misc Income:
                    </div>
                    <div class="col-md-3 col-xs-5 value border-bottom" id="div-netprofit-withother-income">
                        0.00 
                    </div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-8 col-xs-5 name">
                        Net Profit %:
                    </div>
                    <div class="col-md-3 col-xs-5 value border-bottom" id="div-profitpercent">
                        0.00 
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="jsondata" class="hide">
    <input id="FormSetting"  type="text" value="@ViewBag.FormSetting" />
    @* <input id="OpeningBalances"  type="text" value="@ViewBag.OpeningBalances" />*@
    <input id="Voucher"  type="text" value="@ViewBag.Voucher" />
</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Vehicle/Reports/ProfitLoss.js"></script>
    <script>
        jQuery(document).ready(function () {
            ProfitLoss.init();
        });
    </script>
}

