@using AccountEx.Common;
@using AccountEx.BussinessLogic;
@{
    ViewBag.Title = "Diary Products";
}

@section PageTitle
{

    <h1 class="font-green-sharp bold">Manage Products</h1>
}

<!-- END PAGE HEADER-->
@if (SettingManager.ProductHeadId == 0)
{
    @Html.Partial("_HeadAccountMissing")
}
<div class="tabbable-custom">

    <ul class="nav nav-tabs ">
        <li class="active">
            <a data-toggle="tab" href="#BasicInfo">Basic Info</a>
        </li>
        <li>
            <a data-toggle="tab" href="#Logs">Logs</a>
        </li>
    </ul>
    <div class="tabbable-custom" id="form-info">

        <div class="tab-content " data-save="save">
            <input type="hidden" id="Id" />
            <input type="hidden" id="TempCode" />

            <div id="BasicInfo" class="tab-pane active">

                <div class="portlet-body">
                    <div class="row" id="div-formBasicInfo">
                        <div class="col-md-12 col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.Partial("_ParentAccount", new ViewDataDictionary { { "HeadId", SettingManager.ProductHeadId }, { "Labelcolspan", 4 }, { "Divcolspan", 6 } })
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Account Code</label>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control " id="Code" data-required="required" data-message="Account Code is required" data-plus-as-tab="false">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Code</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="BarCode" data-required="false" data-message="Code is required" maxlength="15" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Tag</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="Name" data-required="required" data-message="Tag is required" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Deliveries</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="Company" data-required="false" data-message="Deliveries is required" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Health</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="Readings" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Age</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="Weight" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Purchase Price</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="PurchasePrice" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Group</label>
                                                        <div class="col-md-6">
                                                            <select id="GroupId" class="form-control select2" placeholder="Select group">
                                                                <option></option>
                                                                @foreach (var p in (List<IdName>)ViewBag.ProductGroups)
                                                                {
                                                                    <option data-custom="@p.Id" value="@p.Id">@p.Name</option>
                                                                }
                                                            </select>
                                                            <input type="hidden" value="GroupId" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Status</label>
                                                        <div class="col-md-6">
                                                            <select id="UnitType" class="form-control select2" placeholder="Select Status">
                                                                <option value="Milker">Milker</option>
                                                                <option value="Non-Milker">Non-Milker</option>
                                                                <option value="Pregnant">Pregnant</option>
                                                                <option value="Meat">Meat</option>
                                                                <option value="Kid">Kid</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="Logs" class="tab-pane">
                <div class="portlet-body">
                    <div class="row" id="div-formLogs">
                        <div class="col-md-12 col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light">
                                <div id="LogsTableView"></div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="form-actions">
            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
            <div class="col-md-8">
                <button type="button" class="btn btn-primary green" onclick="Products.Save()" data-plus-as-tab="false">Save</button>
                <button type="button" class="btn btn-primary hide green" onclick="Products.SaveClose()">Save & Close</button>
                <button id="btnCancel" type="button" class="btn btn-default" onclick="Products.Add()">Cancel</button>
            </div>
        </div>
    </div>

</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Products Listing
                </div>
                <div class="actions hide">
                    <button id="btnEdit" type="button" class="btn blue" onclick="Products.Add()"><i class="fa fa-plus"></i>&nbsp;New</button>
                    <button id="btnSave" type="button" class="btn blue hide" onclick="Products.Save()"><i class="fa fa-check"></i>&nbsp;Save Changes</button>


                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>
                            @*  <th style="width: 8px;" class="no-sort">
                                    <input type="checkbox" class="group-checkable" data-set="#mainTable .checkboxes" />
                                </th>*@
                            <th>Account Code</th>
                            <th>Code</th>
                            <th>Tag</th>
                            <th>Deliveries</th>
                            <th>Health</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th>Purchase Price</th>
                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div id="jsondata" class="hide">
    <p id="data">@ViewBag.FormSetting</p>
</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Manage/Products.js"></script>
    <script>
        jQuery(document).ready(function () {
            Products.init("DairyProducts");
        });
    </script>
}
