@using AccountEx.Common;
@using AccountEx.BussinessLogic;
@{
    ViewBag.Title = "Products";   
}

@section PageTitle
{

    <h1 class="font-green-sharp bold">Manage Products</h1>
}

<!-- END PAGE HEADER-->
@if (SettingManager.ProductHeadId == 0)
{
    @Html.Partial("_HeadAccountMissing")
}
<div class="tabbable-custom">

    <ul class="nav nav-tabs ">
        <li class="active">
            <a data-toggle="tab" href="#BasicInfo">Basic Info</a>
        </li>
        <li>
            <a data-toggle="tab" href="#Specification">Specification</a>
        </li>
        <li>
            <a data-toggle="tab" href="#StockPrice">StockPrice</a>
        </li>
        <li>
            <a data-toggle="tab" href="#Packing">Packing</a>
        </li>
    </ul>
    <div class="tabbable-custom" id="form-info">

        <div class="tab-content " data-save="save">
            <input type="hidden" id="Id" />
            <input type="hidden" id="TempCode" />

            <div id="BasicInfo" class="tab-pane active">

                <div class="portlet-body">
                    <div class="row" id="div-formBasicInfo">
                        <div class="col-md-12 col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.Partial("_ParentAccount", new ViewDataDictionary { { "HeadId", SettingManager.ProductHeadId }, { "Labelcolspan", 4 }, { "Divcolspan", 6 } })
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Account Code</label>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control " id="Code" data-required="required" data-message="Account Code is required" data-plus-as-tab="false">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Name</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="Name" data-required="required" data-message="Account Name is required" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Company</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="Company" data-required="false" data-message="Company is required" />
                                                        </div>
                                                    </div>
                                                      <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Barcode</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="BarCode" data-required="false" data-message="Company Code is required" maxlength="15" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Company Code</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="CompanyCode" data-required="false" data-message="Company Code is required" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Brand Name</label>
                                                        <div class="col-md-6">
                                                            <select id="BrandName" class="form-control select2" data-trackchange="true" placeholder="Select Brand">
                                                                <option></option>
                                                                @foreach (var item in (List<IdName>)ViewBag.Brands)
                                                                {
                                                                    <option data-custom="@item.Id" value="@item.Name">@item.Name</option>
                                                                }
                                                            </select>
                                                            <input type="hidden" id="BrandId" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">Group</label>
                                                        <div class="col-md-6">
                                                            <select id="GroupId" class="form-control select2" placeholder="Select group">
                                                                <option></option>
                                                                @foreach (var p in (List<IdName>)ViewBag.ProductGroups)
                                                                {
                                                                    <option data-custom="@p.Id" value="@p.Id">@p.Name</option>
                                                                }
                                                            </select>
                                                            <input type="hidden" value="GroupId" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="prefix">H.S Code</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control " id="HSCode" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="Specification" class="tab-pane">
                <div class="portlet-body">
                    <div class="row" id="div-formSpecification">
                        <div class="col-md-12 col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light">

                                <div class="portlet-body form">
                                    <div class="form-horizontal">
                                        <div class="form-body">

                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Made In</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="MadeIn" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Article #</label>
                                                <div class="col-md-3">
                                                    <input class="form-control" type="text" name="text" id="ArticleNo" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Location #</label>
                                                <div class="col-md-3">
                                                    <input class="form-control" type="text" name="text" id="Location" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Sr.#</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="SrNo" data-required="false" data-message="Sr No is required" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Readings</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="Readings" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Unit Type</label>
                                                <div class="col-md-3">
                                                    <select id="UnitType" class="form-control select2" placeholder="Select Unit Type">
                                                        <option></option>
                                                        @foreach (var p in (List<IdName>)ViewBag.UnitTypes)
                                                        {
                                                            <option data-custom="@p.Id" value="@p.Name">@p.Name</option>
                                                        }
                                                    </select>
                                                    <input type="hidden" class="form-control " id="UnitTypeId" />
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Price Type</label>
                                                <div class="col-md-3">
                                                    <select class="form-control select2" placeholder="Select Type" id="PriceType">
                                                        <option></option>
                                                        <option>Unit Price</option>
                                                        <option>Weight Price</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">GSM</label>
                                                <div class="col-md-3">
                                                    <input class="form-control" type="text" name="text" id="Weight" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>

            </div>
            <div id="StockPrice" class="tab-pane">
                <div class="portlet-body">
                    <div class="row" id="div-formTaxInfo">
                        <div class="col-md-12 col-sm-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light">

                                <div class="portlet-body form">
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Purchase Price</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="PurchasePrice" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Sale Price</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="SalePrice" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Sale Discount</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="SaleDiscount" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Purchase Discount</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="PurchaseDiscount" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Minimum Stock</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="MinimumStock" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="prefix">Maximum Stock</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control " id="MaximumStock" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>

            </div>
            <div id="Packing" class="tab-pane">
                <div class="portlet-body">
                    <div class="row" id="div-formPacking">
                        <div class="col-md-12 col-sm-12">

                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                    <div class="form-horizontal">

                                        <div class="form-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="prefix">Packing per Carton</label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="PackingPerCarton" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="prefix">Manufacturer</label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control " id="Manufacturer" placeholder="Manufacturer" />
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="prefix">Details</label>
                                                        <div class="col-md-6">
                                                            <textarea id="Others" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-actions">
            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
            <div class="col-md-8">
                <button type="button" class="btn btn-primary green" onclick="Products.Save()" data-plus-as-tab="false">Save</button>
                <button type="button" class="btn btn-primary hide green" onclick="Products.SaveClose()">Save & Close</button>
                <button id="btnCancel" type="button" class="btn btn-default" onclick="Products.Add()">Cancel</button>
            </div>
        </div>
    </div>

</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Products Listing
                </div>
                <div class="actions hide">
                    <button id="btnEdit" type="button" class="btn blue" onclick="Products.Add()"><i class="fa fa-plus"></i>&nbsp;New</button>
                    <button id="btnSave" type="button" class="btn blue hide" onclick="Products.Save()"><i class="fa fa-check"></i>&nbsp;Save Changes</button>


                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>
                            @*  <th style="width: 8px;" class="no-sort">
                                <input type="checkbox" class="group-checkable" data-set="#mainTable .checkboxes" />
                            </th>*@
                            <th>Code</th>
                            <th>Title</th>
                            <th>Packing/Carton
                            </th>
                            <th>Purchase Price</th>
                            <th>Sale Price</th>

                            <th>Manufacturer</th>
                            <th>Details </th>
                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div id="jsondata" class="hide">
    <p id="data">@ViewBag.FormSetting</p>
</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Manage/Products.js"></script>
    <script>
        jQuery(document).ready(function () {
            Products.init();
        });
    </script>
}
